// variables:
$bg-main:#f8f8d9;
$color-2:#9f2f21;
$color-3:#D9AD2B;
$color-4: #383838;
$font: "Merriweather",serif;
$breakpoint-xs: 400px;
$breakpoint-sm: 767px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1360px;

