/*header secciones*/
.bg {
    background-color: $color-2;
    padding: 1em;
    border-bottom: solid $color-4;
    border-left: solid $color-4;
    border-right: solid $color-4;
}

header {
    font-size: 1.5em;
    nav {
        div {
            display: flex;

            img {
                height: 4em;
                width: 4em;
                border-radius: 50%;
            }
        }
    }
}

.menu-style {
    background-color: $color-2;
    font-size: 1.5em;
    width: 100%;
}

.menu {
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 10em;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .menu {
        width: auto;
        display: flex;
        align-items: right;
        justify-content: space-around;
        margin-left: 25em;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    .menu {
        width: auto;
        display: flex;
        align-items: right;
        justify-content: space-around;
        margin-left: 24em;
    }
}

.flecha {
    height: 3em;
    width: 2em;
    transition: all 250ms;
}

.flecha:hover {
    transform: scale(1.5);
    z-index: 1;
}

.link{
    color: black;
    font-weight: 500;
    
}

.link:hover {
color: $color-3;
font-weight: 600;
}

h2 {
    @include encabezados(center, 700, $color-2);
}

#img {
    height: 37em;
    width: 22em;
}