.avatares{
    width: 200px; 
    height: 250px;
    border-radius: 150px;
    margin: 8em auto 4em;
    display: flex;
    justify-content: center;
    }
    
    .autores-paragraph{ 
    line-height: 30px;
    text-align: center;
    margin: 2em 4em 2em;
    }