.bgi-5 {
    height: 610px;
    background-image:url(../multimedia/grifo2.jpg);

    @include media(xs);
    @include media(sm);
    @include media(md);
    @include media(lg);
}
.retrato {
    @extend %retrato;
}

h3{
    @include encabezados(center,500 ,$color-2 );
}
.link4{
    color:$color-3;
}

.link4:hover {
   @include hover($color-2);
}